# Intro to Data Science with Pokèmon 
***

### Arrays

In [7]:
food = ["ham", "cheese", "bread", "mayo", "lettuce", "tomato", "bacon"]

In [8]:
print(food);

['ham', 'cheese', 'bread', 'mayo', 'lettuce', 'tomato', 'bacon']

In [9]:
print(food[0])

ham

In [10]:
sliced_food = food[0:3]

In [11]:
print(sliced_food)

['ham', 'cheese', 'bread']

### Import Libraries
***

In [12]:
import pandas as pd
import numpy as py
import seaborn as sb

In [13]:
print("PANDAS Version " + pd.__version__ )
print("numpy version " + py.__version__ )
print("seaborn version " + sb.__version__ )

PANDAS Version 2.1.3
numpy version 1.26.2
seaborn version 0.13.0

# Loading Data
***

In [14]:
df = pd.read_csv('pokemon.csv')

In [15]:
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon

# Displaying Full Data Frames
***

In [35]:
pd.set_option('display.max_rows', 20)

In [36]:
df.head(700)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,646.0,646.0,Kyurem,125,130,90,130,90,95,660,...,3,1250000,N,646.0,646.0,NaN,NaN,NaN,152.0,Kyurem
659,647.0,647.0,Keldeo,91,72,90,129,90,108,580,...,3,1250000,N,647.0,647.0,NaN,NaN,NaN,153.0,Keldeo
660,648.0,648.0,Meloetta (A),100,77,77,128,128,90,600,...,3,1250000,N,648.0,648.0,NaN,NaN,NaN,154.0,Meloetta (A)
661,648.1,648.1,Meloetta (P),100,128,90,77,77,128,600,...,3,1250000,N,648.1,648.1,NaN,NaN,NaN,154.1,Meloetta (P)
662,649.0,649.0,Genesect,71,120,95,120,95,99,600,...,3,1250000,N,649.0,649.0,NaN,NaN,NaN,155.0,Genesect

# Accessing Columns

In [37]:
df.Pokemon[0]

'Bulbasaur'

In [38]:
df.Pokemon[0:10]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

# Accessing Multiple Columns
***
You can access multiple columns, using a variable.

In [39]:
pokemon_Atk_HP = df[['Pokemon', 'HP', 'Atk']]

In [40]:
pokemon_Atk_HP.head(10)

      Pokemon  HP  Atk
0   Bulbasaur  45   49
1     Ivysaur  60   62
2    Venusaur  80   82
3  Charmander  39   52
4  Charmeleon  58   64
5   Charizard  78   84
6    Squirtle  44   48
7   Wartortle  59   63
8   Blastoise  79   83
9    Caterpie  45   30

# Accessing Rows
***

In [41]:
specific_row = df.iloc[0]

In [42]:
print(specific_row)

Per                1.0
Nat                1.0
Pokemon      Bulbasaur
HP                  45
Atk                 49
               ...
Joh              226.0
Hoe                NaN
Sin                NaN
Un                 NaN
Pokemon.1    Bulbasaur
Name: 0, Length: 35, dtype: object

# Slicing Rows and Columns
***

In [43]:
rows_zero_to_ten = df.iloc[0:10]

In [44]:
rows_zero_to_ten.head(10)

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon
5,6.0,6.0,Charizard,78,84,78,109,85,100,534,...,45,1059860,Lv. 36,6.0,6.0,231.0,NaN,NaN,NaN,Charizard
6,7.0,7.0,Squirtle,44,48,65,60,54,43,314,...,45,1059860,NaN,7.0,7.0,232.0,NaN,NaN,NaN,Squirtle
7,8.0,8.0,Wartortle,59,63,80,65,80,58,405,...,45,1059860,Lv. 16,8.0,8.0,233.0,NaN,NaN,NaN,Wartortle
8,9.0,9.0,Blastoise,79,83,100,85,105,78,530,...,45,1059860,Lv. 36,9.0,9.0,234.0,NaN,NaN,NaN,Blastoise
9,10.0,10.0,Caterpie,45,30,35,20,20,45,195,...,255,1000000,NaN,10.0,10.0,24.0,NaN,NaN,NaN,Caterpie

# Useful PANDAS Methods
***

In [45]:
df.Pokemon.sort_values() # sorts values of pokemon columns

464     Abomasnow
62           Abra
358         Absol
629      Accelgor
141    Aerodactyl
          ...
262     Zigzagoon
583       Zoroark
582         Zorua
40          Zubat
646      Zweilous
Name: Pokemon, Length: 663, dtype: object

In [46]:
df.Pokemon[0:10].sort_values() # sorts falue of first 9 index items

8     Blastoise
0     Bulbasaur
9      Caterpie
5     Charizard
3    Charmander
4    Charmeleon
1       Ivysaur
6      Squirtle
2      Venusaur
7     Wartortle
Name: Pokemon, dtype: object

In [47]:
df.HP.mean() # gets mean

68.34087481146305

In [50]:
df.SpA.describe()

count    663.000000
mean      68.962293
std       29.246841
min       10.000000
25%       45.000000
50%       65.000000
75%       90.000000
max      180.000000
Name: SpA, dtype: float64

# Filtering Data
***

In [53]:
chu_pokemon = df[df['Pokemon'].str.contains("chu")]

In [54]:
print(chu_pokemon)

       Per    Nat   Pokemon  HP  Atk  Def  SpA  SpD  Spe  Total  ... Catch  \
24    26.0   25.0   Pikachu  35   55   30   50   40   90    300  ...   190
25    27.0   26.0    Raichu  60   90   55   90   80  100    475  ...    75
171   25.0  172.0     Pichu  20   40   15   35   35   60    205  ...   190
237  143.0  238.0  Smoochum  45   30   15   85   65   65    305  ...    45

         EXP        Evolve  Per.1  Nat.1    Joh    Hoe    Sin  Un  Pokemon.1
24   1000000    Friendship   26.0   25.0   22.0  156.0  104.0 NaN    Pikachu
25   1000000  Thunderstone   27.0   26.0   23.0  157.0  105.0 NaN     Raichu
171  1000000           NaN   25.0  172.0   21.0  155.0  103.0 NaN      Pichu
237  1000000           NaN  143.0  238.0  152.0    NaN    NaN NaN   Smoochum

[4 rows x 35 columns]

In [55]:
special_attack_70 = df[df["SpA"] == 70]

In [57]:
print(special_attack_70)

       Per    Nat     Pokemon  HP  Atk  Def  SpA  SpD  Spe  Total  ... Catch  \
17    18.0   18.0     Pidgeot  83   80   75   70   70   91    469  ...    45
57    63.0   58.0   Growlithe  55   70   45   70   50   60    350  ...   190
61    67.0   62.0   Poliwrath  90   85   95   70   90   70    500  ...    45
68    75.0   69.0  Bellsprout  50   75   35   70   30   40    300  ...   255
86    95.0   87.0     Dewgong  90   70   80   70   95   70    475  ...    75
..     ...    ...         ...  ..  ...  ...  ...  ...  ...    ...  ...   ...
553  542.0  542.0    Leavanny  75  103   80   70   70   92    490  ...    45
559  548.0  548.0     Petilil  45   35   50   70   50   30    280  ...   190
612  600.0  600.0       Klang  60   80   95   70   85   50    440  ...    60
613  601.0  601.0   Klinklang  60  100  115   70   85   90    520  ...    30
626  614.0  614.0     Beartic  95  110   80   70   80   50    485  ...    60

         EXP       Evolve  Per.1  Nat.1    Joh Hoe  Sin     Un   Pokemon.1
17   1059860       Lv. 36   18.0   18.0   12.0 NaN  NaN    NaN     Pidgeot
57   1250000          NaN   63.0   58.0  127.0 NaN  NaN    NaN   Growlithe
61   1059860  Water Stone   67.0   62.0   74.0 NaN  NaN    NaN   Poliwrath
68   1059860          NaN   75.0   69.0   64.0 NaN  NaN    NaN  Bellsprout
86   1000000       Lv. 34   95.0   87.0  177.0 NaN  NaN    NaN     Dewgong
..       ...          ...    ...    ...    ...  ..  ...    ...         ...
553  1059860   Friendship  542.0  542.0    NaN NaN  NaN   48.0    Leavanny
559  1000000          NaN  548.0  548.0    NaN NaN  NaN   54.0     Petilil
612  1059860       Lv. 38  600.0  600.0    NaN NaN  NaN  106.0       Klang
613  1059860       Lv. 49  601.0  601.0    NaN NaN  NaN  107.0   Klinklang
626  1000000       Lv. 37  614.0  614.0    NaN NaN  NaN  120.0     Beartic

[28 rows x 35 columns]

# Filtering with Logical Opertaors
***

In [ ]:
water_high_speed = df[(df["Spe"] > 100) & (df[